
@font-face {
    font-family: "bebas-neue";
    src: url(./fontzzz/NetflixSans-Regular.otf);
}


body{
    
    background-color: black;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
}

.container-flex {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    background-color: black;
    padding: 30px;
    
}

h1{
    font-size: 40px;
    margin: 2px;
    font-family: "bebas-neue";
    color: #f3f3f3;
    position: relative;
    padding: 20px;
    line-height: 1.1;
    padding-top: 125px;
}



h2{
    font-size: 21px;
    font-family: "bebas-neue";
    color: #f3f3f3;
    margin: 2px;
    padding-left: 20px;
    margin-inline: 2px;
    width: 400px;
}

.item2{
    padding: 20px;
}

/*-------*/


@media only screen and (max-width:768px) {


.container-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.immagine{
    height: 100%;
    width: 200px;
    object-fit: cover;
    max-width: 100%;
    min-width: 100%;
}

}



